<form class="container">
  <section class="row">
    <div class="form-group input-group-sm col-md-12">
      <label class="control-label" for="name">Nome Completo</label>
      <input type="text" class="form-control" id="name">
    </div>
  </section>

  <section class="row">
    <div class="form-group input-group-sm col-md-6">
      <label class="control-label" for="email">Email</label>
      <input type="mail" class="form-control" id="email">
    </div>

    <div class="form-group input-group-sm col-md-3">
      <label class="control-label" for="name">Nascimento</label>
      <input type="text" class="form-control" id="name">
    </div>

    <div class="form-group input-group-sm col-md-3">
      <label class="control-label" for="email">Telefone</label>
      <input type="mail" class="form-control" id="email">
    </div>
  </section>

  <section class="text-right">
    <small style="margin-right: 10px">Mensagem</small>
    <button class="btn btn-sm btn-primary">Criar pessoa</button>
  </section>
</form>
