<form class="container">
  <section class="row">
    <div class="form-group input-group-sm col-md-12 col-sm-12">
      <label class="control-label" for="name">Nome Completo</label>
      <input [disabled]="loading" [(ngModel)]="person.name" name="name" type="text" class="form-control" id="name">
    </div>
  </section>

  <section class="row">
    <div class="form-group input-group-sm col-md-6 col-sm-12">
      <label class="control-label" for="email">Email</label>
      <input [disabled]="loading" [(ngModel)]="person.email" name="email" type="mail" class="form-control" id="email">
    </div>

    <div class="form-group input-group-sm col-md-3 col-sm-6">
      <label class="control-label" for="birth">Nascimento</label>
      <input [disabled]="loading" [(ngModel)]="person.birth" name="birth" type="date" class="form-control" id="birth">
    </div>

    <div class="form-group input-group-sm col-md-3 col-sm-6">
      <label class="control-label" for="phone">Telefone</label>
      <input [disabled]="loading" appPhoneMask [(ngModel)]="person.phone" name="phone" type="text" class="form-control" id="phone">
    </div>
  </section>

  <section class="text-right">
    <small id="message" style="margin-right: 10px">{{message}}</small>
    <button *ngIf="!toEdit" [disabled]="loading" (click)="create()" id="create-btn" class="btn btn-sm btn-success">
      Criar essa pessoa
    </button>
    <button *ngIf="toEdit" [disabled]="loading" (click)="edit()"  id="edit-btn" class="btn btn-sm btn-success">
      Editar essa pessoa
    </button>
  </section>
</form>
